<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1315018582403889</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1315018582403889</string>
	<key>FacebookClientToken</key>
	<string>81c0ace276009d0df836e17f3afa51e3</string>
	<key>FacebookDisplayName</key>
	<string>Social App</string>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
